* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #eee;
    width: 100%;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
}

input {
    padding: 1em .5em;
    background-color: #fff;
    border:none;
    border-radius: 3px;
    box-sizing: border-box;
}

#input {
    min-width: 800px;
    margin: 0 auto;
    margin-bottom: .5em;
}

#input-posicao {
    width: 80px;
}

.button {
    border: none;
    background-color: #2e6ad8;
    color: #fff;
}

.buttons {    
    margin: 0 auto;
    width: 800px;
    display: flex;
    justify-content: space-between; 
}

ul {
    background-color: #fff;
    width: 800px;
    margin: 0 auto;
    margin-top: 1em;
    box-sizing: border-box;
    padding: 2em 3em;
    min-height: 100px;
}

ul li {
    margin: .5em 0;
}